.site-nav{
  display: flex;
  justify-content: space-between;
}

.nav-padding{
  padding:10px;
}

.site-nav-left{
  display: flex;
  flex:5;
}

.site-nav-right{
  
  flex:1;
}

.site-nav-left a{
  flex:1;
}

